.name{
    color: palevioletred;
}
.half{
    width: 40%;
    float: left;
    padding-left: 40px;
    margin-left: 20px;
}
.half img{
    width: 100%;
}
.top{
    height: 500px;
    background-image: url("Resource/top.png");
    background-repeat: no-repeat;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url("Resource/top2.png");
    background-repeat: no-repeat;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightblue,blue);
    font-weight: 700px;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}
.middle{
   height: 500px;
background-image: url(Resource/back2.png);
background-repeat: no-repeat;
}
.caption{
    text-align: center;
}
.bottom img{
    width: 20%;
    padding-left: 10%;   
}
.bottom{
    background-image: url(Resource/bottom.png);
}
.last{
    text-align: center;
    background-image: url("Resource/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.pink{
    width: 20%;
    border: 1px solid  deeppink;
    border-radius: 5px;
    background-color: deeppink;
    margin-left: 36%;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
footer{
    text-align: center;
    font-size: 8%;
    margin-top: 15px;
}